/* SECCIÓN ACERCA */
.acerca-section {
   width: 100%;
  margin: 0;

  
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  /* Animación de entrada */
  animation: fadeUp 1s ease forwards;
}

/* Contenedor interno */
.acerca-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  max-width: 1100px;
  width: 100%;
}

@media (min-width: 900px) {
  .acerca-container {
    flex-direction: row;
  }
}

/* Bloque de texto */
.acerca-texto {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding-right: 1rem;
}

.acerca-titulo {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: left;
  color: #a313db; /* tono más brillante del púrpura */
  text-shadow: 0 2px 6px rgba(172, 161, 177, 0.6); /* sombra sutil para dar profundidad */
  letter-spacing: 1px; /* mejora la lectura */
}

.acerca-descripcion {
  font-size: 1.25rem;
  line-height: 1.3;
  font-family: 'Georgia', serif;
  text-align: justify;
  color: #000000;
  max-width: 100%;

}

.acerca-imagen {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 6px;
}

.acerca-imagen img { 
  width: 120%; 
  height: 90%; 
  border-radius: 20px; 
  object-fit: cover; 
  border: 1px solid #a313db;  
  box-shadow: 0 10px 25px rgba(163, 19, 219, 0.3); 
  transition: transform 0.4s ease, box-shadow 0.4s ease; 
} 
.acerca-imagen img:hover { transform: scale(1.03); box-shadow: 0 15px 35px rgba(163, 19, 219, 0.5); }

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
