/* CONTENEDOR GENERAL */
.accordion-wrapper {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
}

/* TÍTULO */
.accordion-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #222;
}

/* GRID 2 FILAS x 5 COLUMNA */
.accordion-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  max-width: 1100px;
}

/* TARJETA */
.accordion-card {
  background: #f3f3f3;
  padding: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  border-bottom: 3px solid transparent;
}

/* HOVER TARJETA */
.accordion-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

/* BOTÓN PREGUNTA */
.accordion-question {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 1.1rem;  /* ligeramente más grande */
  font-weight: bold;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* aumenta el padding vertical */
  transition: color 0.3s ease;
  min-height: 20px;   /* altura mínima para dar más espacio */
}


/* PREGUNTA ACTIVA */
.accordion-card.open .accordion-question {
  color: #b313f3;
}

/* BORDE MORADO AL ABRIR */
.accordion-card.open {
  border-bottom: 3px solid #b313f3;
}

/* FLECHA */
.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

/* RESPUESTA */
.accordion-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #333;
  transition: all 0.3s ease;
}

/* RESPUESTA VISIBLE */
.accordion-answer.show {
  max-height: 200px;
  opacity: 1;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .accordion-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .accordion-grid {
    grid-template-columns: 1fr;
  }
}