/* === SECCIÓN "POR QUÉ ELEGIRNOS" === */

.elijenos-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
flex-direction: row;
  box-sizing: border-box;
}

.elijenos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  max-width: 1200px;
  width: 100%;
}
.elijenos-subContainer {
  flex: 2.5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  max-width: 1200px;

}
.elijenos-containerTitulo {
  flex:1;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  max-width: 1200px;
}
.elijenos-containerTexto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  max-width: 1200px;

}

@media (min-width: 900px) {
  .elijenos-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 6rem;
  }
}

/* === Imagen izquierda === */
.elijenos-imagen {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.elijenos-imagen img { width: 120%; height: 90%; border-radius: 20px; object-fit: cover; border: 1px solid #a313db; /* Borde morado brillante */ box-shadow: 0 10px 25px rgba(163, 19, 219, 0.3); /* Luz morada sutil */ transition: transform 0.4s ease, box-shadow 0.4s ease; } .acerca-imagen img:hover { transform: scale(1.03); box-shadow: 0 15px 35px rgba(163, 19, 219, 0.5); }

.elijenos-imagen img:hover { transform: scale(1.03); box-shadow: 0 15px 35px rgba(163, 19, 219, 0.5); }

.elijenos-imagen img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}


/* === Texto derecha === */
.elijenos-texto {
  flex: 1;
  justify-content: flex-start;
  color: #000;

}

.elijenos-descripcion {
  font-size: 1.2rem;
  line-height: 1.3;
  font-family: 'Georgia', serif;
  text-align: left;
  color: #000000; /* texto negro para contraste sobre fondo claro */
  max-width: 100%;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); /* sombra más suave */
}

.elijenos-titulo {
  font-size: 2.4rem;
  font-weight: 800;
  color: #b516ff;
  margin-bottom: 2rem;
  line-height: 1.3;
  max-width: 90%;
}

/* === Bloque de párrafos === */
.elijenos-parrafos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.elijenos-parrafos p {
  font-size: 1.2rem;
  line-height: 1.7;
  color: #000000;
  text-align: justify;
  font-family: "Georgia", serif;
  margin: 0;
}


