.estadisticas-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.estadisticas-container {
  display: flex;
  justify-content: center;       
  align-items: center;           
  gap: 7rem;                     
  max-width: 1100px;             
  width: 100%;
}

.estadistica-card {
  display: flex;
  flex-direction: column;       
  align-items: center;
  text-align: center;
}

.icono {
  color: #b313f3;                
  font-size: 3rem !important; 
}

.numero {
  font-size: 2rem;
  font-weight: bold;
  color: #332a33;
  margin-top: 0.3rem;   /* antes 0.4rem -> más compacto */
  margin-bottom: 0.1rem; /* nuevo -> pega el texto al número */
}

.texto {
  font-size: 0.9rem;
  color: #000;
  margin-bottom: 0.4rem; /* antes 1rem -> reduce mucho la separación */
  max-width: 190px;
  text-align: center;
}

