.background {
  position: absolute;
  inset: 0;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

/* Capa oscura semitransparente encima del fondo */
.background::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Cambia el 0.4 por más/menos opacidad */
}

.content {
  position: relative;
  z-index: 10;
}
#root {
  max-width: 1700px;
  margin: 0 auto;
  padding: 2rem;
  
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.hero-text {
  position: absolute;
  top: 25%;
  left: 5%;
  text-align: left;
  color: white;
  
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
  align-items: center;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.9;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  max-width: 700px;
}
.sections-container {
  width: 100vw; 
  margin-left: calc(50% - 50vw); 
  overflow: hidden;
}


.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fondos */
.section-gray {
  background: linear-gradient(135deg, #eacaff 0%, #d3d2d2 40%, #efcffc 100%);
  background-color: #e4bcff; /* capa sólida base */
}

.section-white {
  background-color: #ffffff;
}

/* === FORMAS === */

/* Primer bloque: línea superior recta, borde inferior diagonal */
.start-flat {
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

/* Último bloque: diagonal arriba, borde inferior recto */
.end-flat {
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
}

/* Contenido centrado */
.section-inner {
  width: 90%;
  max-width: 1400px;
  padding: 4rem 2rem;
  z-index: 1;
}

.divider {
  height: 6px;
  width: 100%;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(138, 43, 226, 0.9),
    transparent
  );
  margin: 2rem 0;
}



